body {
	background-color: #000;
	margin: 0;
}

#content {
	padding: 20px;
	min-height: 200px;
	min-width: 200px;
}

#logo {
	display: table;
	margin-left: auto;
	margin-right: auto;
}

#lgtopcntr {
	display: table-cell;
	vertical-align: middle;
}

#lgtop {
	background-image: url('../img/logotop.png');
	background-size: contain;
	background-repeat: no-repeat;
}

#lgbtmcntr {
	display: table-cell;
	vertical-align: middle;
}

#lgbtm {
	background-image: url('../img/logobtm.png');
	background-size: contain;
	background-repeat: no-repeat;
}

.lgvert {
	float: left;
	clear: both;
}

.lgcntrhorz {
	float: left;
	margin-left: 50px;
}

.plvert {
	margin-left: auto;
	margin-right: auto;
}

.plhorz {
	float: right;
}

#status {
	width: 80%;
	color: #808285;
	font-family: "Segoe UI", "Myriad Pro", arial, sans-serif;
	font-weight: 500;
	overflow: hidden;
	text-overflow: ellipsis;
}

#status p {
	max-width: 240px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin: 0 0 5px 0;
}

#stats {
	color: #00e8ff;
}

#stata {
	color: #0080ff;
}

#fblike {
	border: none; 
	overflow: hidden; 
	position: absolute;
	top: 3px;
	left: 3px;
}